Let's Mange our old datas

In [10]:
import os
import pandas as pd
from bs4 import BeautifulSoup
import re
import numpy as np

In [5]:
old_df = pd.read_csv('data/old_data/clean/gender_gap_PhD_STEM.csv')
old_df

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,2024.0,University of Pennsylvania,...,NaN,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,UC Berkeley,...,NaN,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,University of Pennsylvania,...,male,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN
3,"Abe, Naohito",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,Yale,...,NaN,NaN,NaN,"Hibotsutoshi University, Japan",NaN,1.0,NaN,NaN,NaN,NaN
4,Abhay Aneja,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,...,male,NaN,NaN,Berkeley Law,Academic,1.0,0.0,Assistant Professor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,Zigan Wang,unknown,NaN,Finance,NaN,NaN,NaN,NaN,2015.0,Columbia University,...,male,NaN,NaN,University of Hong Kong,Academic,1.0,0.0,NaN,NaN,NaN
1469,Zihao (Harry) Zhou,male,NaN,NaN,NaN,NaN,NaN,NaN,2021.0,UC Berkeley,...,male,NaN,NaN,University College London – School of Management,Academic,1.0,0.0,Assistant Professor,NaN,NaN
1470,Zijian He,unknown,NaN,"Urban Economics, International Trade, Industri...",NaN,NaN,NaN,Costas ArkolakisSamuel KortumKatja Seim,2023.0,Yale,...,NaN,NaN,"""Essays on Urban and Spatial Economics""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471,"Zimmerman, Seth",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,Yale,...,NaN,NaN,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",NaN,1.0,NaN,NaN,NaN,NaN
1472,Łukasz Langer,male,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,UC Berkeley,...,male,NaN,NaN,Cornerstone Research,Other,0.0,0.0,PhD Associate,NaN,NaN

In [6]:
old_df.columns

Index(['name', 'gender_guess', 'school_website', 'field', 'paper_name',
       'paper_link', 'chair', 'committee_member', 'year', 'university',
       'department', 'cv_link', 'dissertation', 'personal_website', 'email',
       'gender_manual', 'secondaryresearchfocus', 'dissertation_name',
       'placement', 'placement_type', 'academic', 'postdoc', 'position',
       'degree', 'references'],
      dtype='object')

In [21]:
old_df[old_df['gender_guess'] == 'unknown'].head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
5,Abhi Gupta,unknown,NaN,Macroeconomics International Economics,Essays in Empirical Macroeconomics,NaN,NaN,NaN,2024.0,UC Berkeley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"B.S. (Mathematics, Statistics, Economics), Uni...","Yuriy Gorodnichenko*, Jon Steinsson, David Romer"
6,Abhinash Borah,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,University of Pennsylvania,...,male,NaN,NaN,Royal Holloway University,Academic,1.0,0.0,NaN,NaN,NaN
7,Abhinash Borah,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,University of Pennsylvania,...,male,NaN,NaN,"University of Mainz, Germany",Academic,1.0,0.0,NaN,NaN,NaN
8,Adhemar Villani Junior,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,University of Pennsylvania,...,male,NaN,NaN,Unibanco,International Organization,0.0,0.0,NaN,NaN,NaN
17,Ajin Lee,unknown,NaN,"Health Economics, Public Economics",NaN,NaN,NaN,NaN,2017.0,Columbia University,...,female,NaN,NaN,Michigan State University,Academic,1.0,0.0,NaN,NaN,NaN

In [32]:
gender_null = old_df[old_df['gender_guess'].isna()].shape[0]
gender_null

494

In [9]:
old_df['year'].unique()

array([2024., 2011., 2012., 2000.,   nan, 2010., 2008., 2009., 2013.,
       2020., 2007., 2022., 2017., 2025., 2004., 2014., 2016., 2021.,
       2023., 2018., 2019., 2006., 2005., 1999., 2003., 2015., 1998.,
       2002., 2001.])

In [14]:

old_df.sort_values(by='year', ascending=False).head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
1127,Sang Hoon Kong,andy,https://www.sanghoonkong.com/,"International Trade, Regional Economics, Devel...",Quality Upgrading and Productivity Gains from ...,https://econ.columbia.edu/wp-content/uploads/s...,['David E. Weinstein'],"['Donald R. Davis', 'Réka Juhász']",2025.0,Columbia University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Assa Cohen,female,https://economics.sas.upenn.edu/people/assa-cohen,"Macroeconomics, Finance",Hard Times Call for Fundamental Questions,NaN,Guillermo Ordonez,NaN,2025.0,University of Pennsylvania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,Emilio Zaratiegui,male,https://econ.columbia.edu/e/emilio-zaratiegui/,"Macroeconomics, International Macroeconomics",Macroprudential Policy with Firm Heterogeneity,https://emiliozaratiegui.github.io/Personal-We...,"['Martin Uribe', 'Jesse Schreger']",['Stephanie Schmitt-Grohé'],2025.0,Columbia University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,Kosha Modi,unknown,http://koshamodi.github.io,"Macroeconomics, Finance, Monetary Economics",The Perceived Sources of Unexpected Inflation,https://econ.columbia.edu/wp-content/uploads/s...,"[""Jennifer La'O"", 'José Scheinkman']","['Matthieu Gomez', 'Jesse Schreger']",2025.0,Columbia University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,Kristen Beamer Shure,female,https://economics.sas.upenn.edu/people/kristen...,"Empirical Microeconomics, Economics of Educati...",Public vs. Private: School Quality and Competi...,NaN,Petra Todd,NaN,2025.0,University of Pennsylvania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
year_null = old_df[old_df['year'].isna()].shape[0]
year_null

101

In [28]:
university_null = old_df[old_df['university'].isna()].shape[0]
university_null

20

In [33]:
placement_null = old_df[old_df['placement'].isna()].shape[0]
placement_null

419

In [31]:
winter_df = pd.read_csv('analyzed_data/placement_df.csv')
winter_df.columns

Index(['Unnamed: 0', 'name', 'university', 'year', 'field', 'placement',
       'research_fields', 'academic', 'private_company', 'government',
       'gender_guess', 'gender'],
      dtype='object')