Let's Mange our old datas

- every school add a rank
-   by gender compare datatype and by rank
    x axis rank y axis placement type

summary statas:
- % with chair, chair's gender
- %

In [1]:
import os
import pandas as pd
from bs4 import BeautifulSoup
import re
import numpy as np

In [15]:
old_df = pd.read_csv('../data/raw/old_data/clean/gender_gap_PhD_STEM.csv')
old_df.head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,2024.0,University of Pennsylvania,...,NaN,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,UC Berkeley,...,NaN,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,University of Pennsylvania,...,male,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN
3,"Abe, Naohito",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,Yale,...,NaN,NaN,NaN,"Hibotsutoshi University, Japan",NaN,1.0,NaN,NaN,NaN,NaN
4,Abhay Aneja,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,...,male,NaN,NaN,Berkeley Law,Academic,1.0,0.0,Assistant Professor,NaN,NaN

In [6]:
old_df.columns

Index(['name', 'gender_guess', 'school_website', 'field', 'paper_name',
       'paper_link', 'chair', 'committee_member', 'year', 'university',
       'department', 'cv_link', 'dissertation', 'personal_website', 'email',
       'gender_manual', 'secondaryresearchfocus', 'dissertation_name',
       'placement', 'placement_type', 'academic', 'postdoc', 'position',
       'degree', 'references'],
      dtype='object')

In [16]:
old_df[old_df['gender_guess'] == 'unknown'].head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
5,Abhi Gupta,unknown,NaN,Macroeconomics International Economics,Essays in Empirical Macroeconomics,NaN,NaN,NaN,2024.0,UC Berkeley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"B.S. (Mathematics, Statistics, Economics), Uni...","Yuriy Gorodnichenko*, Jon Steinsson, David Romer"
6,Abhinash Borah,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,University of Pennsylvania,...,male,NaN,NaN,Royal Holloway University,Academic,1.0,0.0,NaN,NaN,NaN
7,Abhinash Borah,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,University of Pennsylvania,...,male,NaN,NaN,"University of Mainz, Germany",Academic,1.0,0.0,NaN,NaN,NaN
8,Adhemar Villani Junior,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,University of Pennsylvania,...,male,NaN,NaN,Unibanco,International Organization,0.0,0.0,NaN,NaN,NaN
17,Ajin Lee,unknown,NaN,"Health Economics, Public Economics",NaN,NaN,NaN,NaN,2017.0,Columbia University,...,female,NaN,NaN,Michigan State University,Academic,1.0,0.0,NaN,NaN,NaN

In [17]:
gender_null = old_df[old_df['gender_guess'].isna()].shape[0]
gender_null

494

In [9]:
old_df['year'].unique()

array([2024., 2011., 2012., 2000.,   nan, 2010., 2008., 2009., 2013.,
       2020., 2007., 2022., 2017., 2025., 2004., 2014., 2016., 2021.,
       2023., 2018., 2019., 2006., 2005., 1999., 2003., 2015., 1998.,
       2002., 2001.])

In [14]:

old_df.sort_values(by='year', ascending=False).head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
1127,Sang Hoon Kong,andy,https://www.sanghoonkong.com/,"International Trade, Regional Economics, Devel...",Quality Upgrading and Productivity Gains from ...,https://econ.columbia.edu/wp-content/uploads/s...,['David E. Weinstein'],"['Donald R. Davis', 'Réka Juhász']",2025.0,Columbia University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Assa Cohen,female,https://economics.sas.upenn.edu/people/assa-cohen,"Macroeconomics, Finance",Hard Times Call for Fundamental Questions,NaN,Guillermo Ordonez,NaN,2025.0,University of Pennsylvania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,Emilio Zaratiegui,male,https://econ.columbia.edu/e/emilio-zaratiegui/,"Macroeconomics, International Macroeconomics",Macroprudential Policy with Firm Heterogeneity,https://emiliozaratiegui.github.io/Personal-We...,"['Martin Uribe', 'Jesse Schreger']",['Stephanie Schmitt-Grohé'],2025.0,Columbia University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,Kosha Modi,unknown,http://koshamodi.github.io,"Macroeconomics, Finance, Monetary Economics",The Perceived Sources of Unexpected Inflation,https://econ.columbia.edu/wp-content/uploads/s...,"[""Jennifer La'O"", 'José Scheinkman']","['Matthieu Gomez', 'Jesse Schreger']",2025.0,Columbia University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,Kristen Beamer Shure,female,https://economics.sas.upenn.edu/people/kristen...,"Empirical Microeconomics, Economics of Educati...",Public vs. Private: School Quality and Competi...,NaN,Petra Todd,NaN,2025.0,University of Pennsylvania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
year_null = old_df[old_df['year'].isna()].shape[0]
year_null

101

In [28]:
university_null = old_df[old_df['university'].isna()].shape[0]
university_null

20

In [33]:
placement_null = old_df[old_df['placement'].isna()].shape[0]
placement_null

419

In [31]:
winter_df = pd.read_csv('analyzed_data/placement_df.csv')
winter_df.columns

Index(['Unnamed: 0', 'name', 'university', 'year', 'field', 'placement',
       'research_fields', 'academic', 'private_company', 'government',
       'gender_guess', 'gender'],
      dtype='object')

# Fixing gender

In [21]:
old_df = old_df.dropna(subset=['name'])
old_df[old_df['name'].isna()].shape[0]

0

In [22]:
old_df[old_df['gender_guess'].isna()].shape[0]

494

In [23]:
old_df[old_df['gender_guess'] == 'unknown'].head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
5,Abhi Gupta,unknown,NaN,Macroeconomics International Economics,Essays in Empirical Macroeconomics,NaN,NaN,NaN,2024.0,UC Berkeley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"B.S. (Mathematics, Statistics, Economics), Uni...","Yuriy Gorodnichenko*, Jon Steinsson, David Romer"
6,Abhinash Borah,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,University of Pennsylvania,...,male,NaN,NaN,Royal Holloway University,Academic,1.0,0.0,NaN,NaN,NaN
7,Abhinash Borah,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,University of Pennsylvania,...,male,NaN,NaN,"University of Mainz, Germany",Academic,1.0,0.0,NaN,NaN,NaN
8,Adhemar Villani Junior,unknown,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,University of Pennsylvania,...,male,NaN,NaN,Unibanco,International Organization,0.0,0.0,NaN,NaN,NaN
17,Ajin Lee,unknown,NaN,"Health Economics, Public Economics",NaN,NaN,NaN,NaN,2017.0,Columbia University,...,female,NaN,NaN,Michigan State University,Academic,1.0,0.0,NaN,NaN,NaN

First, use gender_guess on the na values

In [24]:
# Get rows with missing gender_guess
missing_gender = old_df[old_df['gender_guess'].isna()]

# Use gender_guess package to predict gender from names
from gender_guesser.detector import Detector
d = Detector()

# Apply gender prediction to each name
missing_gender['gender_guess'] = missing_gender['name'].apply(lambda x: d.get_gender(x.split()[0]))

# Update original dataframe with new predictions
old_df.loc[old_df['gender_guess'].isna(), 'gender_guess'] = missing_gender['gender_guess']

/var/folders/d2/sfp_278j7jb2qgvmr7vr7p3m0000gn/T/ipykernel_36469/3886188115.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_gender['gender_guess'] = missing_gender['name'].apply(lambda x: d.get_gender(x.split()[0]))

In [31]:
old_df[old_df['gender_guess'].isna()].shape[0]

0

In [29]:
old_df

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,2024.0,University of Pennsylvania,...,NaN,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,UC Berkeley,...,NaN,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,University of Pennsylvania,...,male,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN
3,"Abe, Naohito",unknown,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,Yale,...,NaN,NaN,NaN,"Hibotsutoshi University, Japan",NaN,1.0,NaN,NaN,NaN,NaN
4,Abhay Aneja,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,...,male,NaN,NaN,Berkeley Law,Academic,1.0,0.0,Assistant Professor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,Zigan Wang,unknown,NaN,Finance,NaN,NaN,NaN,NaN,2015.0,Columbia University,...,male,NaN,NaN,University of Hong Kong,Academic,1.0,0.0,NaN,NaN,NaN
1469,Zihao (Harry) Zhou,male,NaN,NaN,NaN,NaN,NaN,NaN,2021.0,UC Berkeley,...,male,NaN,NaN,University College London – School of Management,Academic,1.0,0.0,Assistant Professor,NaN,NaN
1470,Zijian He,unknown,NaN,"Urban Economics, International Trade, Industri...",NaN,NaN,NaN,Costas ArkolakisSamuel KortumKatja Seim,2023.0,Yale,...,NaN,NaN,"""Essays on Urban and Spatial Economics""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471,"Zimmerman, Seth",unknown,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,Yale,...,NaN,NaN,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",NaN,1.0,NaN,NaN,NaN,NaN
1472,Łukasz Langer,male,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,UC Berkeley,...,male,NaN,NaN,Cornerstone Research,Other,0.0,0.0,PhD Associate,NaN,NaN

In [32]:
old_df[old_df['gender_guess'] == 'unknown'].shape[0]

651

In [38]:
unknown_gender_df = old_df[old_df['gender_guess'] == 'unknown']
with open('../data/raw/old_data/revise/unknown_gender_names.txt', 'w') as f:
    for name in unknown_gender_df['name'].tolist():
        f.write(f"{name}\n")

In [50]:
gender_filled_df = pd.read_csv('../data/raw/old_data/revise/unknown_gender_names.csv')
gender_filled_df.head()

                     name gender
0            Abe, Naohito   Male
1              Abhi Gupta   Male
2          Abhinash Borah   Male
3  Adhemar Villani Junior   Male
4       Adhvaryu, Achyuta   Male

In [57]:
# Clean names by removing \xa0 characters
old_df['name'] = old_df['name'].str.replace('\xa0', ' ')
gender_filled_df['name'] = gender_filled_df['name'].str.replace('\xa0', ' ')

# Update gender_guess for unknown gender entries using gender_filled_df
for idx, row in old_df[old_df['gender_guess'] == 'unknown'].iterrows():
    name = row['name']
    # Look up name in gender_filled_df
    gender_match = gender_filled_df[gender_filled_df['name'] == name]
    if not gender_match.empty:
        old_df.loc[idx, 'gender_guess'] = gender_match.iloc[0]['gender']

old_df.loc[old_df['name'] == 'Sarig, Oren', 'gender_guess'] = 'Male'
old_df.loc[old_df['name'] == 'Seungjun Baek', 'gender_guess'] = 'Male'

old_df[old_df['gender_guess'] == 'unknown'].shape[0]

0

In [60]:
old_df['gender_manual'] = old_df['gender_guess']
old_df.head(3)

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,2024.0,University of Pennsylvania,...,male,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,UC Berkeley,...,male,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,University of Pennsylvania,...,male,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN

Now are done with gender, time to work on college and placement

In [61]:
year_null = old_df[old_df['year'].isna()].shape[0]
year_null

101

In [62]:
university_null = old_df[old_df['university'].isna()].shape[0]
university_null

20

In [63]:
placement_null = old_df[old_df['placement'].isna()].shape[0]
placement_null

419

In [66]:
old_df[old_df['year'].isna()]['university'].unique()

array(['UC Berkeley', nan], dtype=object)

I am going to redo UC Berkely, and findout what is the missing university

In [68]:
old_df.columns

Index(['name', 'gender_guess', 'school_website', 'field', 'paper_name',
       'paper_link', 'chair', 'committee_member', 'year', 'university',
       'department', 'cv_link', 'dissertation', 'personal_website', 'email',
       'gender_manual', 'secondaryresearchfocus', 'dissertation_name',
       'placement', 'placement_type', 'academic', 'postdoc', 'position',
       'degree', 'references'],
      dtype='object')

In [71]:
old_df.loc[old_df['name'] == 'Oh, Ryungha', 'university'] = 'Yale'
old_df.loc[old_df['name'] == 'Oh, Ryungha', 'department'] = 'Economics'

# Then update all other missing universities to Stanford
old_df.loc[old_df['university'].isna(), 'university'] = 'Stanford'
old_df.loc[old_df['university'].isna(), 'department'] = 'School of Humanities and Sciences'

# Display the previously missing rows to verify changes
old_df.loc[old_df['university'].isna()]

Empty DataFrame
Columns: [name, gender_guess, school_website, field, paper_name, paper_link, chair, committee_member, year, university, department, cv_link, dissertation, personal_website, email, gender_manual, secondaryresearchfocus, dissertation_name, placement, placement_type, academic, postdoc, position, degree, references]
Index: []

[0 rows x 25 columns]

In [72]:
# Redo the years
old_df[old_df['year'].isna()]['university'].unique()

array(['UC Berkeley', 'Stanford', 'Yale'], dtype=object)

In [73]:
# Update Yale missing years
old_df.loc[(old_df['year'].isna()) & (old_df['university'] == 'Yale'), 'year'] = 2024

In [74]:
old_df[old_df['year'].isna()]['university'].unique()

array(['UC Berkeley', 'Stanford'], dtype=object)

In [79]:
old_df.loc[(old_df['year'].isna()) & (old_df['university'] == 'UC Berkeley')].head(3)
# Update Stanford missing years

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,year,university,...,gender_manual,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references
4,Abhay Aneja,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,...,male,NaN,NaN,Berkeley Law,Academic,1.0,0.0,Assistant Professor,NaN,NaN
16,Aisling Scott,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,...,female,NaN,NaN,Facebook,Other,0.0,0.0,People Analytics Team,NaN,NaN
31,Alexander Van Zant,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,...,male,NaN,NaN,University of Pennsylvania – Wharton,Other,0.0,0.0,Post-Doctoral Research Fellow,NaN,NaN

In [81]:
import requests
import os

# Create directory if it doesn't exist
os.makedirs('../data/raw/UC_Berkeley', exist_ok=True)

# URL to scrape
url = "https://haas.berkeley.edu/phd/careers/job-placements/"

# Add headers to mimic a browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Get the page content with headers
response = requests.get(url, headers=headers)

# Save the HTML content
with open('../data/raw/UC_Berkeley/placement.html', 'w', encoding='utf-8') as f:
    f.write(response.text)

In [90]:
def parse_berkeley_placements(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    
    placements = []
    
    # Manually add 2024 entries
    entries_2024 = [
        ("Sandy Campbell", "Postdoc", "University of California, Los Angeles"),
        ("Andrew Choi", "Postdoc", "University College London"),
        ("Tianyu Han", "Assistant Professor", "Hong Kong University of Science and Technology"),
        ("Lukas Leucht", "Assistant Professor", "University of Oxford"),
        ("Kimberlyn Munevar", "Assistant Professor", "Texas A&M University"),
        ("Miguel Ortiz", "Assistant Professor", "University of British Columbia  – Vancouver School of Economics"),
        ("Charlotte (Charlie) Townsend", "Postdoc", "Cornell University  –  ILR School"),
        ("Matteo Tranchero", "Assistant Professor", "University of Pennsylvania – The Wharton School")
    ]
    
    for name, position, institution in entries_2024:
        placements.append({
            'name': name,
            'year': 2024,
            'placement': f"{position}, {institution}"
        })

    # Get entries from accordion items (past years)
    accordion_items = soup.find_all('div', class_='accordion-item')
    
    for item in accordion_items:
        year_elem = item.find('span', class_='title-text')
        if year_elem:
            year = year_elem.text.strip()
            content = item.find('div', class_='content')
            if content:
                paragraphs = content.find_all('p')
                for p in paragraphs:
                    text = p.get_text(strip=True)
                    if not text:
                        continue
                        
                    parts = [p.strip() for p in text.split(',')]
                    if len(parts) >= 2:
                        name = parts[0]
                        placement = ','.join(parts[1:])
                        placements.append({
                            'name': name,
                            'year': int(year),
                            'placement': placement
                        })

    return pd.DataFrame(placements)

# Usage:
with open('../data/raw/UC_Berkeley/placement.html', 'r', encoding='utf-8') as f:
    html_content = f.read()
    
berkeley_placements = parse_berkeley_placements(html_content)
display(berkeley_placements['year'].unique())
berkeley_placements

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013])

,name,year,placement
0,Sandy Campbell,2024,"Postdoc, University of California, Los Angeles"
1,Andrew Choi,2024,"Postdoc, University College London"
2,Tianyu Han,2024,"Assistant Professor, Hong Kong University of S..."
3,Lukas Leucht,2024,"Assistant Professor, University of Oxford"
4,Kimberlyn Munevar,2024,"Assistant Professor, Texas A&M University"
...,...,...,...
125,Shubhranshu Singh,2013,Assistant ProfessorJohns Hopkins University
126,Mary Kate Stimmler,2013,"ResearcherGoogle,Inc."
127,Estelle (Yuan) Sun,2013,Assistant ProfessorBoston University
128,Aydin Uysal,2013,"ResearcherMenta Capital,LLC"
129,Fiona Kun Yao,2013,"Assistant ProfessorUniversity of Illinois,Urba..."

In [91]:
berkeley_placements.to_csv('../data/raw/UC_Berkeley/berkeley_placements.csv', index=False)

In [93]:
# Merge berkeley_placements with old_df to update years
old_df = old_df.merge(berkeley_placements[['name', 'year']], 
                      on='name', 
                      how='left', 
                      suffixes=('_old', ''))

# Update year column with berkeley_placements year where available
old_df['year'] = old_df['year'].fillna(old_df['year_old'])
old_df = old_df.drop('year_old', axis=1)

old_df

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
1258,T. Tony Ke,Male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,Massachusetts Institute of Technology,Academic,1.0,0.0,Assistant Professor,NaN,NaN,NaN

In [94]:
old_df.loc[(old_df['year'].isna()) & (old_df['university'] == 'UC Berkeley')].head(3)

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
1258,T. Tony Ke,Male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,Massachusetts Institute of Technology,Academic,1.0,0.0,Assistant Professor,NaN,NaN,NaN

In [95]:
# Update year for T. Tony Ke to 2015
old_df.loc[old_df['name'] == 'T. Tony Ke', 'year'] = 2015
old_df.loc[(old_df['year'].isna()) & (old_df['university'] == 'UC Berkeley')].head(3)

Empty DataFrame
Columns: [name, gender_guess, school_website, field, paper_name, paper_link, chair, committee_member, university, department, cv_link, dissertation, personal_website, email, gender_manual, secondaryresearchfocus, dissertation_name, placement, placement_type, academic, postdoc, position, degree, references, year]
Index: []

[0 rows x 25 columns]

Finally let's see stanford, I will remove them as I have already scraped the data

In [96]:
old_df.loc[(old_df['year'].isna()) & (old_df['university'] == 'Stanford')].head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
32,Alexandr Lenk,male,NaN,"Public Economics, Behavioral and Experimental ...",Disagreement or Misunderstanding? A Field Expe...,NaN,NaN,"Muriel Niederle (Co-primary), B. Douglas Bernh...",Stanford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Andres F. Rodriguez,male,NaN,"Development Economics, Political Economy",Informal Taxation in Development Projects: The...,NaN,NaN,"Katherine Casey (Co-primary), Arun Chandrasekh...",Stanford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,Cem Tutuncu,andy,NaN,"Financial Economics, Macroeconomics","Primary Dealers, Subjective Bond Returns, and ...",NaN,NaN,"Monika Piazzesi (Co-primary), Martin Schneider...",Stanford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,Chuan Yu,Male,NaN,"Industrial Organization, Health Economics",The Welfare Effects of Sponsored Product Adver...,NaN,NaN,"Liran Einav (Co-primary), Matthew Gentzkow (Co...",Stanford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,Dominique Araya Vergara,female,NaN,"Health Economics, Public Economics",The Impacts of Hospital Financial Incentives o...,NaN,NaN,"Petra Persson (Primary), Neale Mahoney, Maya R...",Stanford,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
old_df = old_df[old_df['university'] != 'Stanford']

Now we will check if there are any missing values

In [102]:
old_df.isna().sum()

name                         0
gender_guess                 0
school_website            1376
field                      929
paper_name                1314
paper_link                1386
chair                     1395
committee_member          1320
university                   0
department                   0
cv_link                   1257
dissertation              1266
personal_website          1269
email                     1391
gender_manual                0
secondaryresearchfocus    1436
dissertation_name         1371
placement                  400
placement_type             624
academic                   242
postdoc                    623
position                  1177
degree                    1429
references                1429
year                         0
dtype: int64

Check placement type

In [101]:
old_df.loc[(~old_df['placement'].isna()) & (old_df['academic'].isna()) & (old_df['postdoc'].isna()), ['academic', 'postdoc']] = 1

Verify placement

In [105]:
old_df[old_df['placement'].isna()]['university'].unique()

array(['UC Berkeley', 'Northwestern University', 'Yale',
       'Columbia University', 'University of Pennsylvania', 'NYU',
       'UChicago', 'UCSD', 'UC Chicago', 'Cornell'], dtype=object)

Remove Northwestern, as I have already scraped the data

In [106]:
old_df = old_df[old_df['university'] != 'Northwestern']

In [107]:
old_df[old_df['placement'].isna()]['university'].unique()

array(['UC Berkeley', 'Northwestern University', 'Yale',
       'Columbia University', 'University of Pennsylvania', 'NYU',
       'UChicago', 'UCSD', 'UC Chicago', 'Cornell'], dtype=object)

In [ ]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UC Berkeley')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Yale')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Columbia University')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'University of Pennsylvania')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'NYU')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UChicago')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UCSD')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UC Chicago')]
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Cornell')]

In [108]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UC Berkeley')]

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2011.0
5,Abhi Gupta,Male,NaN,Macroeconomics International Economics,Essays in Empirical Macroeconomics,NaN,NaN,NaN,UC Berkeley,Economics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"B.S. (Mathematics, Statistics, Economics), Uni...","Yuriy Gorodnichenko*, Jon Steinsson, David Romer",2024.0
23,Alan Fuchs,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Economist,0.0,0.0,Research Economist,NaN,NaN,2016.0
30,Alex Solis,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2018.0
39,Aluma Dembo,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Lecturer (Assistant Professor),NaN,NaN,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1397,Yanhong Jin,female,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2010.0
1399,Yassine Sbai Sassi,male,NaN,Econometrics Economic Theory,Essays in Network Econometrics,NaN,NaN,NaN,UC Berkeley,Economics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diplôme D'Ingénieur (Applied Mathematics and E...,"Bryan Graham*, Michael Jansson, Demian Pouzo",2024.0
1434,Yulei Shelley He,female,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Economist,0.0,0.0,Economist,NaN,NaN,2022.0
1460,Zhen Lei,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2015.0
1461,Zhen Sun,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2020.0

In [109]:
berkeley_placements

,name,year,placement
0,Sandy Campbell,2024,"Postdoc, University of California, Los Angeles"
1,Andrew Choi,2024,"Postdoc, University College London"
2,Tianyu Han,2024,"Assistant Professor, Hong Kong University of S..."
3,Lukas Leucht,2024,"Assistant Professor, University of Oxford"
4,Kimberlyn Munevar,2024,"Assistant Professor, Texas A&M University"
...,...,...,...
125,Shubhranshu Singh,2013,Assistant ProfessorJohns Hopkins University
126,Mary Kate Stimmler,2013,"ResearcherGoogle,Inc."
127,Estelle (Yuan) Sun,2013,Assistant ProfessorBoston University
128,Aydin Uysal,2013,"ResearcherMenta Capital,LLC"
129,Fiona Kun Yao,2013,"Assistant ProfessorUniversity of Illinois,Urba..."

First let's fix the deparment of ARE

In [110]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UC Berkeley') & (old_df['department'] == 'ARE')]

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2011.0
23,Alan Fuchs,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Economist,0.0,0.0,Research Economist,NaN,NaN,2016.0
30,Alex Solis,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2018.0
39,Aluma Dembo,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Lecturer (Assistant Professor),NaN,NaN,2021.0
59,Andrew Dustan,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,Yang Xie,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2020.0
1397,Yanhong Jin,female,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2010.0
1434,Yulei Shelley He,female,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Economist,0.0,0.0,Economist,NaN,NaN,2022.0
1460,Zhen Lei,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2015.0
1461,Zhen Sun,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,NaN,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2020.0

In [111]:
# Get ARE placements HTML
url = "https://are.berkeley.edu/job-candidates/past-placements"
response = requests.get(url)

# Save raw HTML
with open('../data/raw/UC_Berkeley/berkeley_ARE_placements.html', 'w', encoding='utf-8') as f:
    f.write(response.text)

In [118]:
def parse_berkeley_ARE_placements(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Create initial list with known specific placements
    placements = [
        {
            'name': 'Anthony Millner',
            'year': 2012,
            'placement': 'Research Fellow, Grantham Research Institute, London School of Economics'
        },
        {
            'name': 'Daniel Agness',
            'year': 2024,
            'placement': 'Assistant Professor, Economics, University of Maryland'
        },
        {
            'name': 'David Anthoff',
            'year': 2012,
            'placement': 'Assistant Professor, School of Natural Resources and Environment, University of Michigan'
        },
        {
            'name': 'Helene Ollivier',
            'year': 2012,
            'placement': 'Research Fellow, Department of Economics, University of Paris 1 Pantheon-Sorbonne and CNRS'
        },
        {
            'name': 'Jenya Kahn-Lang',
            'year': 2023,
            'placement': 'Post-Doctoral Scholar (2023-24), Stanford Environmental and Energy Policy Analysis Center, Stanford University'
        },
        {
            'name': 'Katrina Mullan',
            'year': 2012,
            'placement': 'Assistant Professor, Department of Economics, University of Montana'
        },
        {
            'name': 'Meredith Fowlie',
            'year': 2006,
            'placement': 'Assistant Professor, Ford School of Public Policy/Economics, University of Michigan'
        },
        {
            'name': 'Obie Porteous',
            'year': 2016,
            'placement': 'Assistant Professor, Department of Economics, Middlebury College'
        },
        {
            'name': 'Xiangyi (Daniel) Meng',
            'year': 2007,
            'placement': 'Assistant Professor, School of Public Finance and Public Policy, Central University of Finance and Economics, Beijing, China'
        }
    ]
    
    # Continue with regular parsing for other entries
    years = soup.find_all('h2')
    
    for year_tag in years:
        try:
            year_text = year_tag.text.strip()
            if not year_text.isdigit():
                continue
            year = int(year_text)
            
            table = year_tag.find_next('table')
            if table:
                rows = table.find_all('tr')
                for row in rows:
                    cells = row.find_all('td')
                    if len(cells) >= 3:
                        name_cell = cells[0]
                        name = name_cell.get_text(strip=True)
                        if not name or 'Post Doctoral' in name:
                            continue
                            
                        position = cells[1].get_text(strip=True)
                        
                        if len(cells) == 3:
                            institution = cells[2].get_text(strip=True)
                        else:
                            dept = cells[2].get_text(strip=True)
                            inst = cells[3].get_text(strip=True)
                            institution = f"{dept}, {inst}" if dept else inst
                        
                        if name and position and institution:
                            placements.append({
                                'name': name,
                                'year': year,
                                'placement': f"{position}, {institution}"
                            })
        except ValueError:
            continue
    
    return pd.DataFrame(placements)

# Usage:
with open('../data/raw/UC_Berkeley/berkeley_ARE_placements.html', 'r', encoding='utf-8') as f:
    html_content = f.read()
    
berkeley_ARE_placements = parse_berkeley_ARE_placements(html_content)

berkeley_ARE_placements['name'] = berkeley_ARE_placements['name'].str.replace(r'\([^)]*\)', '', regex=True).str.strip()
berkeley_ARE_placements.to_csv('../data/raw/UC_Berkeley/berkeley_ARE_placements.csv', index=False)
berkeley_ARE_placements

,name,year,placement
0,Anthony Millner,2012,"Research Fellow, Grantham Research Institute, ..."
1,Daniel Agness,2024,"Assistant Professor, Economics, University of ..."
2,David Anthoff,2012,"Assistant Professor, School of Natural Resourc..."
3,Helene Ollivier,2012,"Research Fellow, Department of Economics, Univ..."
4,Jenya Kahn-Lang,2023,"Post-Doctoral Scholar (2023-24), Stanford Envi..."
...,...,...,...
255,Greg Graff,2003,"Director of Research, Research, Bio-Economic R..."
256,Karen Macours,2003,"Assistant Professor, Paul Nitze School of Adva..."
257,Craig McIntosh,2003,"Assistant Professor, International Relations &..."
258,Wolfram Schlenker,2003,"Assistant Professor, School of International &..."
259,Ximing Wu,2003,"Assistant Professor, Department of Agricultura..."

In [119]:
# Update placements from berkeley_ARE_placements
old_df = old_df.merge(berkeley_ARE_placements[['name', 'placement']], 
                      on='name', 
                      how='left', 
                      suffixes=('', '_are'))

# Where there is an ARE placement, use it to update the original placement
mask = old_df['placement_are'].notna()
old_df.loc[mask, 'placement'] = old_df.loc[mask, 'placement_are']

# Drop the temporary ARE placement column
old_df = old_df.drop('placement_are', axis=1)

old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UC Berkeley') & (old_df['department'] == 'ARE')]['name'].unique()

array(['Xiangyi (Daniel) Meng'], dtype=object)

In [120]:
# Update placement for Xiangyi (Daniel) Meng
old_df.loc[old_df['name'] == 'Xiangyi (Daniel) Meng', 'placement'] = 'Assistant Professor, School of Public Finance and Public Policy, Central University of Finance and Economics, Beijing, China'

old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UC Berkeley') & (old_df['department'] == 'ARE')]['name'].unique()

array([], dtype=object)

In [121]:
# Now for eocnomic department
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UC Berkeley') & (old_df['department'] == 'Economics')]['name'].unique()

array(['Abhi Gupta', 'Andrea Cerrato', 'Andrew Tai', 'Bryan Chu',
       'Cesia Sanchez', 'Collin Jones', 'David Wu', 'Farzad Pourbabaee',
       'Felipe Arteaga', 'Felipe Lobel', 'Hadar Avivi',
       'John Wieselthier', 'Kai Zen', 'Kevin Dano', 'Landin Smith',
       'Lukas Leucht', 'Madeline Duhon', 'Martin Caruso-Bloeck',
       'Miguel Ortiz', 'Muhammad Zia Mehmood', 'Nicholas Swanson',
       'Nick Gebbia', 'Oliver Kim', 'Sreeraahul Kancherla',
       'Yassine Sbai Sassi'], dtype=object)

I see, we can't get the placement for the economics department, let's remove them

In [122]:
names_to_remove = ['Abhi Gupta', 'Andrea Cerrato', 'Andrew Tai', 'Bryan Chu',
       'Cesia Sanchez', 'Collin Jones', 'David Wu', 'Farzad Pourbabaee',
       'Felipe Arteaga', 'Felipe Lobel', 'Hadar Avivi',
       'John Wieselthier', 'Kai Zen', 'Kevin Dano', 'Landin Smith',
       'Lukas Leucht', 'Madeline Duhon', 'Martin Caruso-Bloeck',
       'Miguel Ortiz', 'Muhammad Zia Mehmood', 'Nicholas Swanson',
       'Nick Gebbia', 'Oliver Kim', 'Sreeraahul Kancherla',
       'Yassine Sbai Sassi']

old_df = old_df[~old_df['name'].isin(names_to_remove)]

In [126]:
old_df = old_df[old_df['university'] != 'Northwestern University']
old_df.loc[old_df['university'] == 'UC Chicago', 'university'] = 'UChicago'
old_df[old_df['placement'].isna()]['university'].unique()

array(['Yale', 'Columbia University', 'University of Pennsylvania', 'NYU',
       'UChicago', 'UCSD', 'Cornell'], dtype=object)

we still have:

In [134]:
def check_missing():
    print("Yale:")
    display(len(old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Yale')]))

    print("\nColumbia University:")
    display(len(old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Columbia University')]))

    print("\nUniversity of Pennsylvania:")
    display(len(old_df[(old_df['placement'].isna()) & (old_df['university'] == 'University of Pennsylvania')]))

    print("\nNYU:")
    display(len(old_df[(old_df['placement'].isna()) & (old_df['university'] == 'NYU')]))

    print("\nUChicago:")
    display(len(old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UChicago')]))

    print("UCSD:")
    display(len(old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UCSD')]))

    print("\nCornell:")
    display(len(old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Cornell')]))

check_missing()

Yale:

83

Columbia University:

0

University of Pennsylvania:

13

NYU:

19

UChicago:

37

UCSD:

16

Cornell:

8

In [132]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Columbia University')]['name']

18           Akanksha Vardani
393         Emilio Zaratiegui
581               James Jiang
669                Jongho Lee
739                Kosha Modi
833             Lucas de Lara
903     Matthew Alampay Davis
904            Matthew Easton
1067         Palaash Bhargava
1197           Sang Hoon Kong
1400          Victoria Mooers
Name: name, dtype: object

In [133]:
# These does not have placement data, let's remove them
names_to_remove = old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Columbia University')]['name'].tolist()
old_df = old_df[~old_df['name'].isin(names_to_remove)]

In [135]:
check_missing()

Yale:

83

Columbia University:

0

University of Pennsylvania:

13

NYU:

19

UChicago:

37

UCSD:

16

Cornell:

8

In [138]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'University of Pennsylvania')]['name'].unique()

array(['Alberto Ramirez de Aguilar', 'Assa Cohen', 'Byunghoon Kim',
       'Cesar Urquizo Ubillus', 'Daniel Jaar', 'Felipe Barbieri',
       'German Sanchez Sanchez', 'Jordan Peeples', 'Juan Sagredo',
       'Kristen Beamer Shure', 'Lucienne N.Y. Disch', 'Ornella Darova',
       'Ozgur Seker'], dtype=object)

In [139]:
#same goes here, curernt ones does not have placement data
names_to_remove = old_df[(old_df['placement'].isna()) & (old_df['university'] == 'University of Pennsylvania')]['name'].tolist()
old_df = old_df[~old_df['name'].isin(names_to_remove)]
check_missing()

Yale:

83

Columbia University:

0

University of Pennsylvania:

0

NYU:

19

UChicago:

37

UCSD:

16

Cornell:

8

In [141]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'NYU')]['name'].unique()
# No placement data, just ignore these

array(['Aleksandra Alferova', 'Andres Ghini', 'Angela Crema',
       'Eungik (Eun) Lee', 'Facundo Danza', 'Felipe Camelo',
       'Guillaume Nevo', 'Jimena Galindo', 'Jin Liu', 'Kenji Wada',
       'Leon Guzman Lizardo', 'Paolo Varraso', 'Paula Onuchic',
       'Stefan Bucher', 'Teresa Steininger', 'Vishal Ashvinkumar',
       'William Witheridge', 'Wonseok Yoo', 'Yusufcan Demirkan'],
      dtype=object)

In [142]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'Cornell')]['name'].unique()

array(['Bowen Tan', 'Elmer Zongyang Li', 'Giulia Olivero',
       'Hyuk Harry Son', 'Megan Hyland', 'Qiwei He',
       'Revathy Suryanarayana', 'Zhiyang Zhu'], dtype=object)

In [143]:
Cornell_missing_placements = {
    'Bowen Tan': 'Assistant Professor, Department of Economics, University of Maryland',
    'Elmer Zongyang Li': 'IMF Economist Program', 
    'Giulia Olivero': 'Assistant Professor, Department of Economics, University of Maryland',
    'Hyuk Harry Son': 'One-year Postdoctoral Fellow, Stanford Environmental and Energy Policy Analysis Center (SEEPAC); then Assistant Professor, Harris School of Public Policy, University of Chicago',
    'Megan Hyland': 'Economist, Center for Medicare',
    'Qiwei He': 'Lecturer (Assistant Professor), University of Edinburgh',
    'Revathy Suryanarayana': 'Assistant Professor of Health Economics and Policy, UT Southwestern Medical School',
    'Zhiyang Zhu': 'Visiting Assistant Professor in Economics and Management, Depauw University'
}

# Update placement values for Cornell students using the dictionary
for name, placement in Cornell_missing_placements.items():
    old_df.loc[old_df['name'] == name, 'placement'] = placement

In [144]:
check_missing()

Yale:

83

Columbia University:

0

University of Pennsylvania:

0

NYU:

19

UChicago:

37

UCSD:

16

Cornell:

0

In [145]:
names_to_remove = old_df[old_df['university'] == 'UCSD']['name'].tolist()
old_df = old_df[~old_df['name'].isin(names_to_remove)]
check_missing()

Yale:

83

Columbia University:

0

University of Pennsylvania:

0

NYU:

19

UChicago:

37

UCSD:

0

Cornell:

0

In [147]:
old_df[(old_df['placement'].isna()) & (old_df['university'] == 'UChicago')]['name'].unique()
# all these are candiddates so they do not have placement data, same with NYU, we are done with this data.

array(['Aleksei Oskolkov', 'Ben Marrow', 'Boxin Zhao', 'Cong Zhang',
       'Dilara Sonmez', 'Ebru Kasikaralar', 'Esperanza Johnson',
       'Estéfano Rubio', 'Federico Mainardi', 'Fern Ramoutar',
       'Harshil Sahai', 'Ivan Chit Pan Kwok', 'Jiaqi Yu', 'Jingoo Kwon',
       'Jingtao Zheng', 'Jizhou Liu', 'Jonas Piero Dalmazzo', 'Kevin Lee',
       'Lucy Msall', 'Manav Chaudhary', 'Marco Loseto', 'Marcos Sora',
       'Michael Galperin', 'Michael Varley', 'Nadav Kunievsky',
       'Nicholas Herzog', 'Rafael Batista', 'Rayhan Momin',
       'Sangmin (Simon) Oh', 'Santiago Franco', 'Scott Behmer',
       'Sidharth Sah', 'Sulagna Dasgupta', 'Toshiaki Komatsu',
       'Yixin Sun', 'Yucel (Naz) Yetimoglu', 'Zhiyu Fu'], dtype=object)

# all these are candiddates so they do not have placement data, same with NYU, we are done with this data.

In [149]:
old_df.to_csv('../data/analyzed_data/old_placement_data.csv', index=False)